[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
bokeh = "*"
numpy = "*"
pandas = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
psycopg2 = "*"
passlib = "*"
email-validator = "*"
flask-bcrypt = "*"
flask-login = "*"
pillow = "*"

[requires]
python_version = "3.8"
