<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>MyChart</title>
</head>

<body>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');

        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Helvetica';
        Chart.defaults.global.defaultFontSize = 16;
        Chart.defaults.global.defaultFontColor = '#777';

        var myChart = new Chart(ctx, {
                    type: 'line', // hor bar, pie, line, etc.

                    data: {
                        labels: [
                            {% for item in labels %}
                            '{{ item }}',
                            {% endfor %}
                        ],

                        datasets: [{
                                label: '{{ legend_1 }}',
                                data: [
                                    {% for item in values_1 %}
                                    '{{ item }}',
                                    {% endfor %}
                                ],
                                backgroundColor: 'red'
                            },
                            {
                                label: '{{ legend_2 }}',
                                data: [
                                    {% for item in values_2 %}
                                    '{{ item }}',
                                    {% endfor %}
                                ],
                                backgroundColor: 'green'
                            }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Net Worth Tracking'
                        },
                        legend: {
                            display: true,
                            position: 'right',
                            labels: {
                                fontColor: '#000'
                            }
                        },
                        layout: {
                            padding: {
                                left: 25,
                                right: 25,
                                top: 25,
                                bottom: 25
                            }
                        },
                        tooltips: {
                            enabled: true
                        }
                    })
    </script>
</body>

</html>