{% extends 'layout.html' %}
{% block content %}
<canvas id="myChart"></canvas>
{% endblock content %}

{% block scripts %}
<script>
    var ctx = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Helvetica';
    Chart.defaults.global.defaultFontSize = 16;
    Chart.defaults.global.defaultFontColor = '#777';
    Chart.defaults.global.elements.point.radius = 0;

    var myChart = new Chart(ctx, {
        type: 'line', // hor bar, pie, line, etc.
        data: {
            labels: [
                    {% for item in labels %}
                        '{{ item }}',
                    {% endfor %}
            ],
            datasets: [{
                label: 'Liabilities',
                data: [
                    {% for item in values_1 %}
                        '{{ item }}',
                    {% endfor %}
                ],
                backgroundColor:'#FC6C85',
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            },
            {
                label: 'Assets',
                data: [
                    {% for item in values_2 %}
                        '{{ item }}',
                    {% endfor %}
                ],
                backgroundColor:'#90EF90',
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Net Worth Tracking'
            },
            legend: {
                display: true,
                position: 'right',
                labels: {
                    fontColor: '#777'
                }
            },
            layout: {
                padding: {
                    left: 25,
                    right: 25,
                    top: 25,
                    bottom: 25
                }
            },
            tooltips: {
                enabled: true
            }
        }
    })
</script>
{% endblock scripts %}