{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron text-center">
    <h1>Budget App</h1>
    <p class="lead">This application was designed for the entry, storage, and visualization of monthly budget
        information</p>
    <p><small><strong>Built by Aaron Wise using the Python Flask framework</strong></small></p>
    <p><small>September 2020</small></p>
    {% if current_user.is_authenticated %}
    {% else %}
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
</div>
{% endblock content %}